.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
.godot/shader_cache/
.godot/uid_cache.bin
.godot/mono/temp/obj/
.godot/
.godot/editor/
.import/
export.cfg
data_*/
dist/
*.vs
*.tmp
*blend1
*.DS_Store
.vscode/launch.json
.vscode/tasks.json
*.import
.vscode/launch.json
